h1 {
  color: grey;
  font: 19px Arial;
  text-align: left;
}

p {
  color: grey;
  font: 10px Arial;
  text-align: left;
}

body {
  background-color: gainsboro;
}

svg {
  background-color: gainsboro;
}

.text {
  font: 9px Arial;
}

.legend {
  font: 14px Arial;
}

.title {
  font: 14px Arial;
}

.update {
  fill: #333;
}

.links {
  color: grey;
  font: 11px Arial;
}
